:root {
  --primary: #6f3da9;
  --primarylight: #847ab6;
  --primarydark: #2c0f4e;
  --secondary: #5c5c5c;
  --secondarylight: #484848;
  --secondarydark: #1c1c1c;
  --bg_gray: #ececec;
  --bglight: #f9f9f9;
  --bluelight: #5db7f9;
  --red: #f15f64;
  --dark_gray: #a0a0a0;
  --pinkmain: #c1539f;
  --brownmain: #6a3819;
}

@font-face {
  font-family: "ClementePDaiRegular";
  src: url("../fonts/ClementePDai-Regular.woff2") format("woff2"),
    url("../fonts/ClementePDai-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ClementePDaiSemibold";
  src: url("../fonts/ClementePDai-SemiBold.woff2") format("woff2"),
    url("../fonts/ClementePDai-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "K2D", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: var(--secondarylight);
}

.font-title {
  font-family: "ClementePDaiRegular", sans-serif;
}

.font-titlebold {
  font-family: "ClementePDaiSemibold", sans-serif;
}

.linear-gradient-bg {
  background: rgb(111, 61, 169);
  background: linear-gradient(
    180deg,
    rgba(111, 61, 169, 1) 17%,
    rgba(155, 208, 198, 1) 81%
  );
  width: 100%;
  height: 42%;
  z-index: -1;
}

.gradient-bg-inner {
  background: rgb(111, 61, 169);
  background: linear-gradient(
    180deg,
    rgba(61, 169, 150, 0.5) 0%,
    rgba(148, 114, 187, 0.5) 85%
  );
}

.btn {
  position: relative;
  display: inline-block;
  padding: 14px 20px;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 94px;
  letter-spacing: 1.8px;
}

.btn:link,
.btn:visited {
  position: relative;
  transition: all linear 0.4s;
}

.btn-primary {
  background: linear-gradient(
    90deg,
    rgba(148, 114, 187, 1) 0%,
    rgba(155, 208, 198, 1) 100%
  );
}

.btn-white {
  background: #fff;
}

.btn-primary::before,
.btn-white::before {
  content: "";
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  z-index: -1;
  border-radius: inherit;
  transition: background 100ms ease-out;
}

.btn-primary::before {
  background: linear-gradient(
    90deg,
    rgba(148, 114, 187, 1) 0%,
    rgba(155, 208, 198, 1) 100%
  );
}

.btn-white::before {
  background: linear-gradient(60deg, #7a56a4, #9bd0c6);
}

.btn-primary:hover,
.btn-primary:hover::before {
  background: linear-gradient(
    90deg,
    rgba(62, 146, 130, 1) 0%,
    rgba(98, 53, 151, 1) 100%
  );
}

.btn-white:hover,
.btn-white:hover::before {
  background: linear-gradient(
    90deg,
    rgba(62, 146, 130, 1) 0%,
    rgba(98, 53, 151, 1) 100%
  );
  color: #fff;
}

.checkbox {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  position: relative;
  border: 1px solid var(--bg_gray);
  border-radius: 3px;
  background: none;
  cursor: pointer;
  line-height: 0;
  margin: 0 0.5rem 0 0;
  outline: 0;
  padding: 0 !important;
  vertical-align: text-top;
  height: 22px;
  width: 22px;
  -webkit-appearance: none;
  opacity: 0.8;
}

input[type="checkbox"]:hover {
  opacity: 1;
}

input[type="checkbox"]:checked {
  background-color: var(--primary);
  border-color: var(--primary);
  opacity: 1;
}

input[type="checkbox"]:before {
  content: "";
  position: absolute;
  right: 50%;
  top: 50%;
  width: 5px;
  height: 12px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  margin: -1px -1px 0 -1px;
  transform: rotate(45deg) translate(-50%, -50%);
  z-index: 2;
}

.inputbox {
  padding: 10px 20px;
  border: 2px solid var(--bg_gray);
  background: var(--bg_gray);
  border-radius: 5px;
}

.inputbox:focus {
  background: #fff;
  border: 2px solid var(--bg_gray);
  outline: none;
}

/* header */

.header_main {
  box-shadow: 0px 2px 4px 0px rgba(44, 64, 140, 0.1);
  -webkit-box-shadow: 0px 2px 4px 0px rgba(44, 64, 140, 0.1);
  -moz-box-shadow: 0px 2px 4px 0px rgba(44, 64, 140, 0.1);
}

/* nav */

nav a[aria-label="Nav Link"] {
  letter-spacing: 1.2px;
}

/* slider */

.mainslider .slickbox {
  display: none;
}

.mainslider .slickbox:first-child {
  display: flex;
}

.mainslider.slick-initialized .slickbox {
  display: flex;
}

.ourserviceslider .slick-slide,
.serviceslider .slick-slide,
.testimonialslider .slick-slide,
.chooseCourseSlider .slick-slide,
.similarcourseourse .slick-slide {
  margin: 16px 16px;
}

.ourserviceslider .slick-slide {
  margin-top: 64px;
}

.ourserviceslider .slick-list,
.serviceslider .slick-list,
.testimonialslider .slick-list,
.chooseCourseSlider .slick-list,
.similarcourseourse .slick-list {
  margin: 0 -16px;
}

.ourserviceslider .slick-list {
  margin: 0 -64px;
}

.ourserviceslider .slick-slide img,
.serviceslider .slick-slide img {
  display: inline-block;
}

.slick-next,
.slick-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  z-index: 99;
  border-radius: 100%;
  border: 1px solid #c7c0c0;
}

.slick-next[type="button"],
.slick-prev[type="button"] {
  background-color: #fff;
}

.slick-next:before,
.slick-prev:before {
  font-family: "icomoon";
  font-size: 16px;
  color: #c7c0c0;
  opacity: 1;
}

.slick-next:hover,
.slick-prev:hover {
  border: 1px solid var(--primary);
}

.slick-next:hover:before,
.slick-prev:hover:before {
  color: var(--primary);
}

.slick-prev {
  left: -16px;
}

.slick-prev:before {
  content: "\e90f";
}

.slick-next {
  right: -16px;
}

.slick-next:before {
  content: "\e910";
}

.slick-dots li button:before {
  font-size: 12px;
  color: #d9d9d9;
  opacity: 1;
}

.slick-dots li.slick-active button:before,
.slick-dots li button:focus:before,
.slick-dots li button:hover:before {
  color: var(--primarylight);
}

.slick-dots {
  bottom: -32px;
}

.slick-dots li {
  margin: 0;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.mainTopic .slick-track .slick-slide > div {
  min-height: 150px;
}

.mainTopic .slick-track .slick-dots {
  bottom: 0;
}

.meetslider .slick-list .slickbox img,
.serviceslider .slick-list .slickbox img,
.testimonial-content,
.testimonial-content > img,
.video-container,
.mycourse {
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(180deg, #c1539f, #5fdff1) border-box;
  border: 2px solid transparent;
}

.service-box {
  border: 4px solid #fff;
}

.service-box,
.courses {
  box-shadow: -10px -10px 18px 0px rgba(111, 61, 169, 0.1);
  -webkit-box-shadow: -10px -10px 18px 0px rgba(111, 61, 169, 0.1);
  -moz-box-shadow: -10px -10px 18px 0px rgba(111, 61, 169, 0.1);
  transition: all ease-out 300ms;
}

.service-box:hover {
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(180deg, #c1539f, #5fdff1) border-box;
  border: 4px solid transparent;
  box-shadow: -30px -30px 18px 0px rgba(111, 61, 169, 0.1);
  -webkit-box-shadow: -30px -30px 18px 0px rgba(111, 61, 169, 0.1);
  -moz-box-shadow: -30px -30px 18px 0px rgba(111, 61, 169, 0.1);
}

.service-image-bg img {
  background: linear-gradient(
    90deg,
    rgba(177, 82, 193, 1) 0%,
    rgba(95, 223, 241, 1) 100%
  );
  padding: 2px;
  transition: all ease-out 300ms;
}

.service-box:hover .service-image-bg img {
  width: 140px;
  height: 140px;
  padding: 4px;
}

.service-box:hover h3.font-title {
  color: var(--primary);
}

.service-box > .bg-white {
  min-height: 630px;
}

/* expansion */

.expansionWrapper .expansionlist {
  position: relative;
  width: 100%;
  height: auto;
}

.expansioncontent {
  display: none;
}

.expansionWrapper .expansionlist:first-child .expansioncontent {
  display: block;
}

.expansionlist > a {
  padding: 20px;
  padding-bottom: 14px;
  color: #979797;
  border-top: 1px solid #979797;
}

.expansioncontent {
  height: 365px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 14px;
  overflow-y: auto;
}

.expansionlist > a.active {
  color: var(--secondarydark);
}

.expansionlist > a.active .fa-solid {
  color: #7a56a4;
}

@media screen and (max-width: 1536px) {
  .service-box > .bg-white {
    min-height: 715px;
  }
}
@media screen and (max-width: 1280px) {
  .service-box > .bg-white {
    min-height: 600px;
  }
  .ourserviceslider .slick-list {
    margin: 0 -16px;
  }
}

@media screen and (max-width: 1024px) {
  .service-box > .bg-white {
    min-height: 550px;
  }

  .ourserviceslider .slick-list {
    margin: 0 -120px;
  }
}

@media screen and (max-width: 768px) {
  .slick-dots li {
    width: 15px;
    height: 15px;
  }

  .slick-dots li button:before {
    font-size: 8px;
    color: #d9d9d9;
    opacity: 1;
  }

  .service-box > .bg-white {
    min-height: 655px;
  }
}

@media screen and (max-width: 639px) {
  .mainTopic .slick-track .slick-slide > div {
    min-height: auto;
  }
  .service-box > .bg-white {
    min-height: 570px;
  }
}
